[workspace]
members = [
    "crates/*"
]

[package]
name = "m7"
edition = "2021"
version = "0.0.1"
authors = ["Sachin Cherian <sachinctl@protonmail.com>"]
license = "Apache-2.0"
publish = false

# ---

[dependencies]
m7_core = { path = "crates/core" }

anyhow = "1"
indexmap = "1"
open = "3"

# Logging
tracing = "0.1"
tracing-subscriber = "0.3"

# GUI
iced = { version = "0.7", features = ["svg"] }
sleet = { git = "https://github.com/schctl/sleet", branch = "rewrite-2", features = ["all"] }

# Macros
derive_more = "0.99"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

# ---

[features]
debug = ["iced/debug"]

# Max OO ┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻
[profile.release]
lto = true
strip = true
codegen-units = 1

[profile.dev]
opt-level = 1
