[package]
name = "m7"
edition = "2021"
version = "0.0.1"
authors = ["Sachin Cherian <sachinctl@protonmail.com>"]

[dependencies]
anyhow = "1"
directories = "4"
toml = "0.5"
serde = { version = "1", features = ["derive"] }

# Logging
tracing = "0.1"
tracing-subscriber = "0.3"

# GUI
iced = "0.6"

# Macros
lazy_static = "1"
paste = "1"
