[package]
name = "m7"
edition = "2021"
version = "0.0.1"
authors = ["Sachin Cherian <sachinctl@protonmail.com>"]

[dependencies]
anyhow = "1"
directories = "4"
indexmap = "1"
open = "3"
toml = "0.5"
serde = { version = "1", features = ["derive"] }

# Logging
tracing = "0.1"
tracing-subscriber = "0.3"

# GUI
iced = { version = "0.6", features = ["svg"] }
sleet = { git = "https://github.com/schctl/sleet", branch = "rewrite-2", features = ["all"] }

# Macros
lazy_static = "1"
paste = "1"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[features]
debug = ["iced/debug"]

[profile.release-full]
inherits = "release"
lto = true
strip = true
codegen-units = 1
