[package]
name = "doseer_icon_loader"
edition = "2021"
version = "0.0.1"
publish = false

[dependencies]
iced_native = "0.8"
lazy_static = "1"
mime_guess = "2"
moka = "0.10"
rayon = "1"
rust-ini = "0.18"
tracing = "0.1"

doseer_core = { path = "../core" }
